/*BODY*/
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}


main{
    background-color: white;
}

a{
    text-decoration: none;
}

i{
    margin-right: 3px !important;
}

hr{
    opacity: unset;
    clear: both;
}

.medzera{
    overflow: hidden;
    width: 100%;
    height: 20px;
    display: block;
}

.hidden{
    display: none;
}

/*ALERTY*/
.alert{
    position: unset;
}

/*VLAJKY*/
.flag-icon{
    height: 30px;
    box-shadow: 0px 5px 30px black;
}

.flag-icon1{
    height: 30px;
}

/*HEADER LOGO*/
.main-logo{
    width: 215px;
    padding: 0px 20px;
    float: left;
    display: block;
    position: fixed;
    z-index: 999;
    background: white;
    top: 0%;
}

.main-logo-m{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*LOGIN PAGE*/
.top-hamburger-login{
    display: none;
}

.top-hamburger-login.toggleClsLog{
    display: block;
    background: #86b6d9;
    position: absolute;
    width: 100px;
    top: 75px;
    text-align: center;
    padding-left: 0;
    right: 0px;
    margin-right: 5px;
    z-index: 999;
    padding-bottom: 5px;
}

.top-hamburger-login li{
    list-style-type: none;
    line-height: 2.5em;
    clear: both;
}

.top-hamburger-login li a{
    color: black;
    font-weight: 700;
}

#body-login{
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container{
    background-color: white;
    height: 100%;
    padding: 0;
    position: relative;
}

.login-language{
    float: right;
    padding: 31px;
}

.hr1{
    border-top: 3px solid black;
}

.login-form{
    margin: 0 auto;
    padding: 40px 10px;
    box-shadow: 0px 5px 30px black;
    display: block;
    width: 540px;
    margin-top: 15%;
    border-radius: 8px;
    background: radial-gradient(#2fb8f8, #3391bd);
}

.login-form h4{
    text-align: center;
}

.login-form hr{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-top: 2px solid black;
    margin-top: 10px;
}

.form-group{
    margin: auto;
    width: 360px;
}

.form-group:last-child{
    margin-top: 15px;
}

.form-group:last-child button{
    width: 360px;
}

.footer{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: gray;
    position: absolute;
    bottom: 0;
    width: auto;
}

/*DASHBOARD*/
.dashboard{
    font-weight: 500;
    font-size: 18px;
    padding-top: 56.77px;
}

/*MAIN CONTENT*/
.main-content{
    margin-left: 215px;
    padding-top: 1px;
}

/*TOP MENU*/
.top-hamburger,
.top-hamburger2{
    display: none;
}

.top-hamburger li a{
    color: white;
}

.top-hamburger.toggleCls{
    display: block;
    background: rgb(75, 75, 75);
    position: absolute;
    width: 242px;
    top: 57px;
    right: 110px;
    padding-left: 0;
    z-index: 999;
}

.top-hamburger2.toggleCls2{
    display: block;
    background: gray;
    position: absolute;
    width: 100px;
    top: 57px;
    text-align: center;
    padding-left: 0;
    right: 0;
    margin-right: 5px;
    z-index: 999;
    padding-bottom: 5px;
}

.top-hamburger li{
    border-bottom: solid 1px white;
    width: 92%;
    margin-left: 10px;
}

.top-hamburger li:last-child{
    border-bottom: none;
}

.top-hamburger li,
.top-hamburger2 li{
    list-style-type: none;
    line-height: 2.5em;
    clear: both;
}

.top-hamburger li a i{
    padding-right: 10px;
}

.top-hamburger2 li a{
    margin: 0;
}

.menu1{
    height: 56.77px;
    position: fixed;
    display: block;
    width: 100%;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
}

.top-menu{
    float: right;
    height: 100%;
    padding: 10px;
}

.top-menu > ul{
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.top-menu li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.top-menu a{
    color: black;
    margin-right: 5px;
    z-index: 500;
}
.top-menu a::after,
.top-menu a:hover{
    color: #0d6efd;
}

.top-menu-name a{
    color: white;
}

.top-menu-name a:hover{
    color: #40C2FF;
}

.fa-solid{
    margin: 5px;
}

.fa-person-circle-question{
    font-size:26px; 
    color: white;
}

.fa-person-circle-question:hover{
    color: #40C2FF;
}

/*LEFT MENU*/
.menu2{
    display: block;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 215px;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding: 15px;
}

.left-menu-item a{
    color: white;
}

.left-menu-item a:hover{
    color: #40C2FF;
}

.old-link{
    width: 185px;
}

/*ZMENA HESLA*/
.change-password{
    background: #7dd6ff;
    width: 540px;
    padding: 40px 10px;
    margin: 120px auto;
}

.form-group-change-pw{
    margin-bottom: 5px;
}

/*OSOBNE INFORMACIE, KONTAKTNE UDAJE, KONFIGURACIA*/
.osobne_informacie,
.kontaktne_udaje,
.konfiguracia,
.pracovne_vykazy{
    margin: 20px;
}

.osobne_info,
.kontaktne_udaje,
.konfiguracia_l,
.pracovne_vykazy_l{
    background: #7dd6ff;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 40px;
}

.osobne_info_l,
.kontakt_info_l,
.pracovne-vykazy-l{
    width: 80%;
    margin: 0 auto;
}
.osobne-info-btns{
    width: 600px;
    margin: 0 auto;
}

.kontakt_info_l{
    padding-bottom: 10px;
    padding-top: 20px;
}

.osobne_info_h1,
.kontakt_info_h1,
.pracovne-vykazy-h1{
    margin-bottom: 25px;
    margin-top: 10px;
}

.osobne_info_item,
.kontakt_info_item{
    height: 40px;
}

.kontakt_info_h1{
    margin-bottom: 10px;
}
.kontakt_info_item_gdpr{
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 12px;
    text-align: justify;
}

.serverNazov{
    width: 130px;
    display: inline-block;
}

.pristup_redmine_item_span{
    width: 175px;
    display: inline-block;
    margin-bottom: 15px;
}

.td-server{
    float: left;
    width: 33.33%;
}

.osobne_info_item_span,
.kontakt_info_item_span{
    width: 80px;
    float: left;
}

.konfiguracia_item_span{
    width: 250px;
    float: left;
}

.osobne_info_item_textarea{
    width: auto;
}

.konfiguracia_item{
    width: 214.92px;
    margin: 10px 5px 20px;
}

.popisVstupu{
    vertical-align: top;
}

.kontakt_info_item_span{
    width: 260px;
}

.kontakt_info_item_span1{
    width: 160px;
    float: left;
}

.kontakt_info_item_span_add,
.kontakt_info_item_span_add1,
.kontakt_info_item_span_add2{
    display: inline;
    overflow: hidden;
    background: #0d6efd;
    padding: 6px 12px;
    border-radius: 0.375rem;
    margin-right: 15px;
    color: white;
}

.kontakt_info_item_span_add.toggleBtn,
.kontakt_info_item_span_add1.toggleBtn,
.kontakt_info_item_span_add2.toggleBtn{
    background: red;

}

.osobne_info_hidden_dpp,
.osobne_info_hidden_stip,
.osobne_info_hidden_vol{
    display: none;
}

.osobne_info_hidden_dpp.toggleDpp,
.osobne_info_hidden_stip.toggleStip,
.osobne_info_hidden_vol.toggleVol{
    display: block;
}

.kontakt_info_button{
    width: 67px;
    margin: 0 auto;
}

.kontakt_info_button_add{
    width: 175px; 
    margin: 10px 0px 10px 5px;
}

.konfiguracia_button{
    margin: 30px auto;
    height: 33px;
    width: 66.78px;
}

.preferencie{
    width: 80%;
    margin: 0 auto;
}

.opravnenia_k_serverom{
    background: #7dd6ff;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 40px;
}

.opravnenia_k_serverom h1{
    margin-top: 10px;
    margin-bottom: 25px;
}

.opravnenia{
    width: 80%;
    margin: 0 auto;
}

.podklady{
    margin: 40px 20px;
}

.podklady_l{
    width: 80%;
    margin: 0 auto;
}

.sipka{
    cursor:default;
}

.vyrazneCervene{
    color: #a90000;
    font-weight: bold;
    vertical-align: top;
}

.konfiguracia select{
    width: 286px;
}

.osobne_informacie select{
    width: 286px;
    height: 33px;
}

textarea{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;
    font-size: 12px;
    resize: both;
    margin-bottom: 10px;
  }

.field_hosts{
    width: 335px;
    height: 90px;
}

#ipAdresy{
    display: block;
    padding-bottom: 10px;
}

#emaily{
    display: block;
    padding-bottom: 10px;
}

#emaily input,
#telefony input,
#other input,
#ipAdresy input,
.osobne_info input{
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid black;
    padding-left: 5px;
}

.hr-osobne-info,
.hr-konfiguracia,
.hr-kontaktne-udaje,
.hr-pracovne-vykazy{
    border-top: 3px solid black; 
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.pracovne-vykazy-item{
    margin-top: 5px;
}
.pracovne-vykazy-item-cinnost{
    vertical-align: top;
}
#upravCinnost{
    margin-bottom: 0;
}
.denny_vykaz_btns{
    padding: 1px 10px;
    background-color: lightgray;
    border-radius: 3px;
}
#upravNesouvisiSP{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-top: 3px;
}
#odeslatProblemyTlac{
    margin-top: 8px;
}

.pracovne-vykazy-item button{
    display: block;
    width: 67px;
    margin-left: 20%;
    margin-top: 30px;
}

#vybranyProjekt,
#vybranyProjektText,
#vybranyTyzdenText{
    border: none;
    background: none;
    font-size: inherit;
    width: auto;
    padding: 0;
    outline: none;
    font-weight: 700;
    color: blue;
}

#vybranyTyzden,
#idTyzdna{
    display: none;
}

.osobne_info_item a{
    margin-left: 25px;
    color: blue;
}

.vyplnene-udaje{
    color: #13bd00;
    font-weight: 700;
}

.nevyplnene-udaje{
    color: red;
    font-weight: 700;
}

.hr2-osobne-info{
    border-top: 3px solid black;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ip-adresy{
    padding: 2px 12px;
    margin-bottom: 5px;
}

#other{
    width: 100%;
}

#typList{
    float: left;
}

.ui-menu{
    list-style-type: none;
    background: #000;
    color: white;
    width: 150px;
    padding: 0px;
}

.ui-menu-item{
    border-bottom: 1px solid white;
    padding-left: 7px;
}

.ui-menu-item:last-child{
    border-bottom: none;
}

.ui-helper-hidden-accessible{
    display: none;
}