/*BODY*/
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}


main{
    background-color: white;
}

a{
    text-decoration: none;
}

i{
    margin-right: 3px !important;
}

hr{
    opacity: unset;
}

.alert{
    position: unset;
}

.medzera{
    overflow: hidden;
    width: 100%;
    height: 40px;
    display: block;
}

/*HEADER*/
.main-logo{
    width:215px;
    padding: 0px 20px;
    float: left;
    display: block;
    position: fixed;
    z-index: 999;
    background: white;
    top: 0%;
}

.main-logo-m{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*LOGIN PAGE*/
.login-form{
    margin: 0 auto;
    padding: 40px 10px;
    box-shadow: 0px 5px 30px black;
    display: block;
    width: 540px;
    margin-top: 15%;
    border-radius: 8px;
    background: radial-gradient(#2fb8f8, #3391bd);
}

.login-form hr{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-top: 2px solid black;
    margin-top: 10px;
}

.form-group{
    margin:auto;
    width:360px;
}
.form-group button{
    width:360px;
}

.login-language{
    float: right;
    padding: 31px;
}

.top-hamburger-login.toggleClsLog{
    display: block;
    background: #86b6d9;
    position: absolute;
    width: 100px;
    top: 23px;
    text-align: center;
    padding-left: 0;
    right: 90px;
    margin-right: 5px;
    z-index: 999;
    padding-bottom: 5px;
}

/*DASHBOARD*/
.dashboard{
    font-weight: 500;
    font-size: 18px;
    padding-top: 56.77px;
}

/*TOP MENU*/
.top-menu{
    float: right;
    height: 100%;
    padding: 10px;
}

.top-menu>ul{
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.top-menu li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.fa-solid{
    margin: 5px;
}

.menu1{
    height: 56.77px;
    position: fixed;
    display: block;
    width: 100%;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
}

.top-menu a{
    color: black;
    margin-right: 5px;
    z-index: 500;
}
.top-menu a::after,
.top-menu a:hover{
    color: #0d6efd;
}

.top-hamburger,
.top-hamburger2,
.top-hamburger-login{
    display: none;
}

.top-hamburger li a{
    color: white;
}

.top-hamburger.toggleCls{
    display: block;
    background: rgb(75, 75, 75);
    position: absolute;
    width: 242px;
    top: 57px;
    right: 110px;
    padding-left: 0;
    z-index: 999;
}

.top-hamburger2.toggleCls2{
    display: block;
    background: gray;
    position: absolute;
    width: 100px;
    top: 57px;
    text-align: center;
    padding-left: 0;
    right: 0;
    margin-right: 5px;
    z-index: 999;
    padding-bottom: 5px;
}

.top-hamburger li{
    border-bottom: solid 1px white;
    width: 92%;
    margin-left: 10px;
}

.top-hamburger li:last-child{
    border-bottom: none;
}

.top-hamburger li,
.top-hamburger2 li,
.top-hamburger-login li{
    list-style-type: none;
    line-height: 2.5em;
    clear: both;
}

.top-hamburger-login li a{
    color: black;
    font-weight: 700;
}

.top-hamburger li a i{
    padding-right: 10px;
}

.top-hamburger2 li a{
    margin: 0;
}

.flag-icon{
    height: 30px;
    box-shadow: 0px 5px 30px black;
}
.flag-icon1{
    height: 30px;
}

.fa-person-circle-question{
    font-size:26px; 
    color: white;
}

.fa-person-circle-question:hover{
    color: #40C2FF;
}

.top-menu-name a{
    color: white;
}

.top-menu-name a:hover{
    color: #40C2FF;
}

/*LEFT MENU*/
.menu2{
    display: block;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 215px;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding: 15px;
}

.left-menu-item{

}

.left-menu-item a{
    color: white;
}

.left-menu-item a:hover{
    color: #40C2FF;
}

/*OSOBNE INFORMACIE*/
.osobne_informacie,
.kontaktne_udaje,
.konfiguracia{
    margin: 20px;
}

.osobne_info,
.kontaktne_udaje,
.konfiguracia_l{
    background: lightgray;
    padding: 20px;
    overflow: hidden;
}

.osobne_info_l,
.kontakt_info_l{
    width: 80%;
    margin: 0 auto;
}
.osobne-info-btns{
    width: 540px;
    margin: 0 auto;
}

.kontakt_info_l{
    padding-bottom: 10px;
}

.osobne_info_h1,
.kontakt_info_h1{
    margin-bottom: 25px;
    margin-top: 10px;
}

.osobne_info_item,
.kontakt_info_item{
    height: 40px;
}

.kontakt_info_h1{
    margin-bottom: 10px;
}
.kontakt_info_item_gdpr{
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 12px;
    text-align: justify;
}

.serverNazov{
    width: 130px;
    display: inline-block;
}

.pristup_redmine_item_span{
    width: 175px;
    display: inline-block;
}

.td-server{
    float: left;
    width: 33.33%;
}

.osobne_info_item_span,
.kontakt_info_item_span{
    width: 80px;
    float: left;
}

.konfiguracia_item_span{
    width: 250px;
    float: left;
}

.osobne_info_item_textarea{
    width: auto;
}

.konfiguracia_item{
    width: 214.92px;
    margin: 10px 5px 20px;
}

.popisVstupu{
    vertical-align: top;
}

.kontakt_info_item_span{
    width: 260px;
}

.kontakt_info_item_span1{
    width: 150px;
    float: left;
}

.kontakt_info_item_span_add,
.kontakt_info_item_span_add1,
.kontakt_info_item_span_add2{
    display: inline;
    overflow: hidden;
    background: #0d6efd;
    padding: 6px 12px;
    border-radius: 0.375rem;
    margin-right: 15px;
    color: white;
}

.kontakt_info_item_span_add.toggleBtn,
.kontakt_info_item_span_add1.toggleBtn,
.kontakt_info_item_span_add2.toggleBtn{
    background: red;

}

.osobne_info_hidden_dpp,
.osobne_info_hidden_stip,
.osobne_info_hidden_vol{
    display: none;
}

.osobne_info_hidden_dpp.toggleDpp,
.osobne_info_hidden_stip.toggleStip,
.osobne_info_hidden_vol.toggleVol{
    display: block;
}

.kontakt_info_button{
    width: 67px;
    margin: 0 auto;
}

.kontakt_info_button_add{
    width: 155px; 
    margin: 10px 0px 10px 5px;
}

.konfiguracia_button{
    margin: 30px auto;
    height: 33px;
    width: 66.78px;
}

.preferencie{
    width: 80%;
    margin: 0 auto;
}

.opravnenia_k_serverom{
    background: lightgray;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 40px;
}

.opravnenia_k_serverom h1{
    margin-top: 10px;
    margin-bottom: 25px;
}

.opravnenia{
    width: 80%;
    margin: 0 auto;
}

.podklady{
    margin: 40px 20px;
}

.podklady_l{
    width: 80%;
    margin: 0 auto;
}

/*MAIN CONTENT*/
.main-content{
    margin-left: 215px;
    padding-top: 1px;
}

#body-login{
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container{
    background-color: white;
    height: 100%;
    padding:0;
    position: relative;
}

.change-password{
    background: lightgray;
    width: 540px;
    padding: 40px 10px;
    margin: 120px auto;
}

.footer{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: gray;
    position: absolute;
    bottom: 0;
}

.sipka{
    cursor:default;
}

.vyrazneCervene{
    color:#a90000;
    font-weight:bold;
    vertical-align: top;
}

.konfiguracia select{
    width: 286px;
}

.osobne_informacie select{
    width: 286px;
    height: 33px;
}

textarea {
    background-color:#ffffff;
    color:#000000;
    border-color:#000000;
    border-width:1px;
    border-style:solid;
    font-family:"Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;
    font-size:12px;
    resize: both;
    margin-bottom: 10px;
  }

.field_hosts {
    width: 400px;
    height: 100px;
}

.hidden{
    display: none;
}

.old-link{
    width: 185px;
}

#ipAdresy{
    display: block;
    padding-bottom: 10px;
}

#emaily{
    display: block;
    padding-bottom: 10px;
}

#emaily input,
#telefony input,
#other input,
#ipAdresy input,
.osobne_info input{
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid black;
}

#emaily input:focus,
#telefony input:focus,
#other input:focus,
#ipAdresy input:focus,
.osobne_info input:focus{
    border: 3px solid black;
}