/*BODY*/
html{
    height: 100%;
}

body{
    background-color: lightgrey;
    height: 100%;
}

a{
    text-decoration: none;
}

i{
    margin-right: 3px !important;
}

/*HEADER*/
.main-logo{
    width:215px;
    padding: 0px 20px;
    float: left;
    background: white;
    display: block;
}

.main{
    position: relative;
}

.ikonkaJazyka{
    width: 32px;
    margin-right: 5px;
    margin-left: 10px;
}

/*LOGIN PAGE*/
.login-form{
    margin: 0 auto;
    padding:120px 40px;
    background:lightgrey;
    box-shadow: 0px 5px 30px black;
    border-radius: 10px;
    display: block;
    margin-top: 11%;
}

.form-group{
    margin:auto;
    width:360px;
}
.form-group button{
    width:360px;
}
/*DASHBOARD*/
.dashboard{
    font-weight: 500;
    font-size: 18px;
}

.dashboard header{
    background: white;
}

.top-menu{
    float: right;
    margin: 1px;
}

.top-menu ul{
    margin: 8px 0px;
}

.top-menu li{
    list-style-type: none;
    display: inline-block;
}

.fa-solid{
    margin: 5px;
}

.menu1{
    height: 48px;
    display: block;
}

.top-menu a{
    color: black;
    margin-right: 5px;
    z-index: 500;
}
.top-menu a::after,
.top-menu a:hover{
    color: #0d6efd;
}

.top-hamburger,
.top-hamburger2{
    display: none;
}

.top-hamburger.toggleCls{
    display: block;
    background: gray;
    position: absolute;
    width: 220px;
    text-align: center;
    padding-left: 0;
}

.top-hamburger2.toggleCls2{
    display: block;
    background: gray;
    position: absolute;
    width: 120px;
    text-align: center;
    padding-left: 0;
    right: 0;
}

.top-hamburger li,
.top-hamburger2 li{
    list-style-type: none;
    line-height: 2.5em;
    clear: both;
}

.container{
    background:white;
    height: 100%;
    padding:0;
}

.change-password{
    background: gray;
    width: 600px;
    margin: 150px auto;
    padding: 80px 0px;
}

.footer{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: gray;
    position: absolute;
    bottom: 0;
}